body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px; /* Adjust for navigation bar height */
  box-sizing: border-box;
}

h1 {
  margin: 0;
}
